# Google configuration
export GOOGLE_PRIVKEY=""
export GOOGLE_SERVICE_EMAIL=""
export GOOGLE_CALENDAR_ID=""

# Weather configuration
export WEATHER_LATITUDE=""
export WEATHER_LONGITUDE=""
export WEATHER_TIMEZONE=""

# Telemetry configuration
export LOG_IP=
export LOG_PORT=
export API_URL=""

# LED configuration
export LED_STRIP_ID=""
export LED_STRIP_NAME=""
export LED_STRIP_IP=""
export LED_STRIP_VERSION=""
export LED_STRIP_KEY=""

# LAMP configuration
export LED_LAMP_ID=""
export LED_LAMP_NAME=""
export LED_LAMP_IP=""
export LED_LAMP_VERSION=""
export LED_LAMP_KEY=""
